<h2>Past Events</h2>
<ul>
<% past_events = @user.attendances.where("date < ?", Date.today) %>
<% a = @user.attendances.where("date < ?", Date.today).count %>
<% until a <= 0 do %>
<li><% link_to a.past_events.name, event_path(a.past_events.id) %></li>
<% a -=1 %>
<% end %>
</ul>