<div class='row'>
  <div class='col-md-10'>
  <div class="table-responsive">
  <table class='table table-striped table-hover'>
    <caption>Search for events</caption>
    <head>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>District</th>
    </tr>
    </head>
    <body>
    <% @events.each do |e| %>
      <tr>
        <td><%= link_to(e.name, e) %></td>
        <td><%= e.date %></td>
        <td><%= e.time.strftime("%l:%M %p") %></td>
        <td><%= e.district.name %></td>
      </tr>
      <% end %>
    </body>
  </table>
  </div>
  </div>
</div>