<div class='row'>
  <div class='col-md-10'>
  <div class="table-responsive">
  <table class='table table-striped table-hover'>
  <caption>Search for restaurants</caption>
  <head>
    <tr>
      <th>Name</th>
      <th>District</th>
       <th>Coupon</th>
    </tr>
  </head>
  <body>
    <% @restaurants.each do |r| %>
      <tr>
        <td><%= link_to(r.name, r) %></td>
        <td><%= r.district.name %></td>
         <td><%= r.coupon_type %></td>
      </tr>
    <% end %>
  </body>
  </table>
  </div>
  </div>
</div>