<div id="sym_carousel" class="carousel slide container" data-ride="carousel" data-interval="8000" style="width: 800px; height: 100%; margin: 0 auto">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#sym_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#csym_carousel" data-slide-to="1"></li>
    <li data-target="#sym_carousel" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide1.jpg"%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide2.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide3.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#sym_carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#sym_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->